name: 10min

on:
  schedule:
    - cron: '0/11 * * * *'
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Cache 
      uses: actions/cache@v1
      id: cache
      with:
        path: ../wrk
        key: ${{ secrets.URL }}

    - name: build
      if: steps.cache.outputs.cache-hit != 'true'
      run: make
      
    - name: gan
      run: ./wrk -t12 -c100 -d420s ${{ secrets.URL }} > temp.txt
      
    - name: send telegram message on push
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        document: ./temp.txt